body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

h1 {
    color: lightblue;
    font-size: 2em;
    text-align: center;
    margin: 20px;
}